h1 {
  color: #008000;
}
.ac {
  background-image: url("/static/images/correct.png");
  background-repeat: no-repeat;
  display: inline-block;
  height: 16px;
  width: 16px;
}
.ace_editor {
  position: relative;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
  font-size: 12px;
  line-height: normal;
  direction: ltr;
  border: 1px solid #e0e0e0;
}
