<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="problem-title">
                <h3>{{problem}}</h3>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="problem-content">
                        <p></p><p>Given an array of integers, find two numbers such that they add up to a specific target number.</p>

                        <p>The function twoSum should return indices of the two numbers such that they add up to the target, where index1 must be less than index2. Please note that your returned answers (both index1 and index2) are not zero-based.</p>

                        <p>You may assume that each input would have exactly one solution.</p>

                        <p style="font-family:monospace">
                            <b>Input:</b> numbers={2, 7, 11, 15}, target=9<br>
                            <b>Output:</b> index1=1, index2=2
                        </p><p></p>
              
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p class="action">
        <a class="btn btn-success btn=pad" ng-href='/#/Discuss'>Discuss</a>
    </p>
</div>
<form class="container ng-scope ng-pristine ng-valid">
    <div class="row">
        <div ui-ace="{mode:'javascript',onLoad: aceLoaded}" style="height:500px; margin-bottom:12px" class="ng-scope ng-pristine ng-valid ace_editor ace_tm" ng-model="aceInitial"></div>
        <div class="action">
            <input type="hidden" name="typed_code">
            <button id="submitBtn" class="btn btn-primary btn-pad" type="submit" ng-click="codeSubmissionWithWebWorker2()" ng-disabled="flag">Submit</button>
        </div>
    </div>
</form>
<div class="container">
    <div id="showResult" class="container" ng-hide="!exhibit">

        <div class="row">
            <div class="col-md-12">
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <h4>
                            Submission Result:
                            <span id= "resultStatus" ng-class="{'blue': 'text-info', 'green': 'text-success', 'red':'text-danger'}[statusColor]">{{message}}</span>
                        </h4>
                        <div ng-show="statusText === 'Accepted'" class="animated fadeInLeft ng-hide">

                        </div>
                    </div>
                </div>

                <div id="lastExecuted" ng-show="showLastTestCase"></div>
                <div id="result_code_output_row" ng-show="resultCodeOutput"></div>
                <div id="wrong_output" ng-show="showWrongTestCase"></div>
            </div>

        </div>

    </div>
</div>
