<div ng-controller="ProblemCtrl" class="container"><div class="container"><div class="row"><div class="col-md-12"><div class="problem-title"><h3>{{problem}}</h3></div><div class="row"><div class="col-md-12"><div class="problem-content">
              <p></p><p>The set <code>[1,2,3,&#x2026;,<i>n</i>]</code> contains a total of <i>n</i>! unique permutations.</p>

<p>By listing and labeling all of the permutations in order,<br>
We get the following sequence (ie, for <i>n</i> = 3):
<ol>
<li><code>&quot;123&quot;</code></li>
<li><code>&quot;132&quot;</code></li>
<li><code>&quot;213&quot;</code></li>
<li><code>&quot;231&quot;</code></li>
<li><code>&quot;312&quot;</code></li>
<li><code>&quot;321&quot;</code></li>
</ol>
</p>

<p>Given <i>n</i> and <i>k</i>, return the <i>k</i><sup>th</sup> permutation sequence.</p>

<p><b>Note:</b> Given <i>n</i> will be between 1 and 9 inclusive.</p><p></p>
              
                <div id="tags" class="btn btn-xs btn-warning">Show Tags</div>
                <span class="hide">
                  
                  <a class="btn btn-xs btn-primary" href="/tag/backtracking/">Backtracking</a>
                  
                  <a class="btn btn-xs btn-primary" href="/tag/math/">Math</a>
                  
                </span>
              
            </div></div></div></div></div><p class="action"><a class="btn btn-success btn=pad" ng-href='/#/Discuss'>Discuss</a></p></div><form class="container ng-scope ng-pristine ng-valid"><div class="row"><div ui-ace="{mode:'javascript'}" style="height:500px; margin-bottom:12px" class="ng-scope ng-pristine ng-valid ace_editor ace_tm">Code from here</div><div class="action"><input type="hidden" name="typed_code"><button id="submitBtn" class="btn btn-primary btn-pad" type="submit">Submit</button></div></div></form></div>