<div ng-controller="ProblemCtrl" class="container"><div class="container"><div class="row"><div class="col-md-12"><div class="problem-title"><h3>{{problem}}</h3></div><div class="row"><div class="col-md-12"><div class="problem-content">
              <p></p><p>Implement regular expression matching with support for <code>&apos;.&apos;</code> and <code>&apos;*&apos;</code>.</p>

<pre>
&apos;.&apos; Matches any single character.
&apos;*&apos; Matches zero or more of the preceding element.

The matching should cover the <b>entire</b> input string (not partial).

The function prototype should be:
bool isMatch(const char *s, const char *p)

Some examples:
isMatch(&quot;aa&quot;,&quot;a&quot;) &#x2192; false
isMatch(&quot;aa&quot;,&quot;aa&quot;) &#x2192; true
isMatch(&quot;aaa&quot;,&quot;aa&quot;) &#x2192; false
isMatch(&quot;aa&quot;, &quot;a*&quot;) &#x2192; true
isMatch(&quot;aa&quot;, &quot;.*&quot;) &#x2192; true
isMatch(&quot;ab&quot;, &quot;.*&quot;) &#x2192; true
isMatch(&quot;aab&quot;, &quot;c*a*b&quot;) &#x2192; true
</pre><p></p>
              
                <div id="tags" class="btn btn-xs btn-warning">Show Tags</div>
                <span class="hide">
                  
                  <a class="btn btn-xs btn-primary" href="/tag/dynamic-programming/">Dynamic Programming</a>
                  
                  <a class="btn btn-xs btn-primary" href="/tag/backtracking/">Backtracking</a>
                  
                  <a class="btn btn-xs btn-primary" href="/tag/string/">String</a>
                  
                </span>
              
            </div></div></div></div></div><p class="action"><a class="btn btn-success btn=pad" ng-href='/#/Discuss'>Discuss</a></p></div><form class="container ng-scope ng-pristine ng-valid"><div class="row"><div ui-ace="{mode:'javascript'}" style="height:500px; margin-bottom:12px" class="ng-scope ng-pristine ng-valid ace_editor ace_tm">Code from here</div><div class="action"><input type="hidden" name="typed_code"><button id="submitBtn" class="btn btn-primary btn-pad" type="submit">Submit</button></div></div></form></div>