<div ng-controller="ProblemCtrl" class="container"><div class="container"><div class="row"><div class="col-md-12"><div class="problem-title"><h3>{{problem}}</h3></div><div class="row"><div class="col-md-12"><div class="problem-content">
              <p></p><p>
Given a 2D board containing <code>&apos;X&apos;</code> and <code>&apos;O&apos;</code>, capture all regions surrounded by <code>&apos;X&apos;</code>.</p>

<p>A region is captured by flipping all <code>&apos;O&apos;</code>s into <code>&apos;X&apos;</code>s in that surrounded region.
</p>

<p>
For example,<br>
<pre>
X X X X
X O O X
X X O X
X O X X
</pre>
</p>

<p>
After running your function, the board should be:
<pre>
X X X X
X X X X
X X X X
X O X X
</pre>
</p><p></p>
              
                <div id="tags" class="btn btn-xs btn-warning">Show Tags</div>
                <span class="hide">
                  
                  <a class="btn btn-xs btn-primary" href="/tag/breadth-first-search/">Breadth-first Search</a>
                  
                </span>
              
            </div></div></div></div></div><p class="action"><a class="btn btn-success btn=pad" ng-href='/#/Discuss'>Discuss</a></p></div><form class="container ng-scope ng-pristine ng-valid"><div class="row"><div ui-ace="{mode:'javascript'}" style="height:500px; margin-bottom:12px" class="ng-scope ng-pristine ng-valid ace_editor ace_tm">Code from here</div><div class="action"><input type="hidden" name="typed_code"><button id="submitBtn" class="btn btn-primary btn-pad" type="submit">Submit</button></div></div></form></div>