<div ng-controller="ProblemCtrl" class="container"><div class="container"><div class="row"><div class="col-md-12"><div class="problem-title"><h3>{{problem}}</h3></div><div class="row"><div class="col-md-12"><div class="problem-content">
              <p></p><p>
Given an array of words and a length <i>L</i>, format the text such that each line has exactly <i>L</i> characters and is fully (left and right) justified.
</p> 

<p>
You should pack your words in a greedy approach; that is, pack as many words as you can in each line. Pad extra spaces <code>&apos; &apos;</code> when necessary so that each line has exactly <i>L</i> characters.
</p>

<p>
Extra spaces between words should be distributed as evenly as possible. If the number of spaces on a line do not divide evenly between words, the empty slots on the left will be assigned more spaces than the slots on the right.
</p>

<p>
For the last line of text, it should be left justified and no extra space is inserted between words.
</p>

<p>
For example,<br>
<b>words</b>: <code>[&quot;This&quot;, &quot;is&quot;, &quot;an&quot;, &quot;example&quot;, &quot;of&quot;, &quot;text&quot;, &quot;justification.&quot;]</code><br>
<b>L</b>: <code>16</code>.
</p>

<p>
Return the formatted lines as:<br>
<pre>
[
   &quot;This    is    an&quot;,
   &quot;example  of text&quot;,
   &quot;justification.  &quot;
]
</pre>
</p>

<p>
<b>Note:</b> Each word is guaranteed not to exceed <i>L</i> in length.
</p>


<p class="showspoilers"><a href="#" onclick="showSpoilers(this); return false;">click to show corner cases.</a></p>

<div class="spoilers"><b>Corner Cases:</b>
<p>
<ul>
<li>A line other than the last line might contain only one word. What should you do in this case?<br>
In this case, that line should be left-justified.</li>
</ul></p>
</div><p></p>
              
                <div id="tags" class="btn btn-xs btn-warning">Show Tags</div>
                <span class="hide">
                  
                  <a class="btn btn-xs btn-primary" href="/tag/string/">String</a>
                  
                </span>
              
            </div></div></div></div></div><p class="action"><a class="btn btn-success btn=pad" ng-href='/#/Discuss'>Discuss</a></p></div><form class="container ng-scope ng-pristine ng-valid"><div class="row"><div ui-ace="{mode:'javascript'}" style="height:500px; margin-bottom:12px" class="ng-scope ng-pristine ng-valid ace_editor ace_tm">Code from here</div><div class="action"><input type="hidden" name="typed_code"><button id="submitBtn" class="btn btn-primary btn-pad" type="submit">Submit</button></div></div></form></div>