<div ng-controller="ProblemCtrl" class="container"><div class="container"><div class="row"><div class="col-md-12"><div class="problem-title"><h3>{{problem}}</h3></div><div class="row"><div class="col-md-12"><div class="problem-content">
              <p></p><p>
Given a string, determine if it is a palindrome, considering only alphanumeric characters and ignoring cases.
</p>

<p>
For example,<br>
<code>&quot;A man, a plan, a canal: Panama&quot;</code> is a palindrome.<br>
<code>&quot;race a car&quot;</code> is <i>not</i> a palindrome.
</p>

<p>
<b>Note:</b><br>
Have you consider that the string might be empty? This is a good question to ask during an interview.</p>
<p>
For the purpose of this problem, we define empty string as valid palindrome.
</p><p></p>
              
                <div id="tags" class="btn btn-xs btn-warning">Show Tags</div>
                <span class="hide">
                  
                  <a class="btn btn-xs btn-primary" href="/tag/two-pointers/">Two Pointers</a>
                  
                  <a class="btn btn-xs btn-primary" href="/tag/string/">String</a>
                  
                </span>
              
            </div></div></div></div></div><p class="action"><a class="btn btn-success btn=pad" ng-href='/#/Discuss'>Discuss</a></p></div><form class="container ng-scope ng-pristine ng-valid"><div class="row"><div ui-ace="{mode:'javascript'}" style="height:500px; margin-bottom:12px" class="ng-scope ng-pristine ng-valid ace_editor ace_tm">Code from here</div><div class="action"><input type="hidden" name="typed_code"><button id="submitBtn" class="btn btn-primary btn-pad" type="submit">Submit</button></div></div></form></div>